<h1> HOMEWORK 5 </h1>



<h2> TODO FORM </h2>
<%= form_for :todo do |t| %>
Task: <%= t.text_field :tasks %><br/>
Finished: <%= t.check_box :finished %><br/>
<%= t.submit %>

<% end %>


<h2> USERS </h2>

<table>
  <tr>
    <td><b>Name</b></td>
    <td><b>Email</b></td>
    <td><b>Age</b></td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name%></td>
      <td><%= user.email%></td>
      <td><%= user.age%></td>
    </tr>
  <% end %>
</table>

<h2> TODO </h2>
<table>
  <tr>
    <td><b>Task</b></td>
    <td><b>Finished</b></td>
  </tr>
  <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.tasks%></td>
      <td><%= todo.finished%></td>
    </tr>
  <% end %>
</table>

<h2> CATS </h2>

<table>
  <tr>
    <td><b>Cat</b></td>
  </tr>
  <% @cats.each do |cat| %>
    <tr>
      <td><%= cat.name%></td>
    </tr>
  <% end %>
</table>